<button class="btn btn--primary">primary button</button>
<button class="btn btn--secondary">secondary button</button>
<button class="btn btn--accent">accent button</button>
<button class="btn btn--primary btn--block">primary block button</button>
<button class="btn btn--secondary btn--block">secondary block button</button>
<button class="btn btn--accent btn--block">accent block button</button>
<button class="btn btn--accent btn--block btn--outline">
  accent block button
</button>
<a href="#" class="btn btn--primary">Ancor Button Primary</a>
<a href="#" class="btn btn--secondary">Ancor Button Secondary</a>
<a href="#" class="btn btn--accent">Ancor Button accent</a>
<a href="#" class="btn btn--primary btn--block">Ancor block Button Primary</a>
<a href="#" class="btn btn--secondary btn--block"
  >Ancor block Button Secondary</a
>
<a href="#" class="btn btn--accent btn--block">Ancor block Button accent</a>
<a href="#" class="btn btn--accent btn--block btn--outline"
  >Ancor block Button accent</a
>
